body{
    font-size: 50px;
    background-image: url("../images/tarde-playa.jpeg");
    background-size: cover;

    }
h1{
  color: #D1F3F0;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  text-align: center;
  }

ul{
  color: #D1F3F0;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  text-align: center;

}
a{
  text-decoration: none;
  color: #D01FDE;
}

.social-icon{
    width: 100px;
}
#venezuela-band{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px double #16a090;

}
#yo-imagen{
  border:  8px double #16a090;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h2{
  color: #D1F3F0;
  background-color: #D01FDE;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  text-align: center;

}

h3{
  color: #D1F3F0;
  background-color: #D01FDE;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  text-align: center;
}
.container-table{
  color: #D1F3F0;
  font-family: 'Playfair Display',cursive;
  font-weight: bold;
  font-size: 0.6em;
  margin-left: 15%;

}
table{
  width: 80%;
  border: 3px solid #16a090;
}
td{
  width: 25%;
  text-align: center;
  border: 1px solid #16a090;
}
th{
  width: 25%;
  text-align: center;
  border: 1px solid #16a090;
}
p{
  color: #D1F3F0;
  background-color: #0A9483;
  font-family: 'Playfair Display',cursive;
  font-weight: bold;
  font-size: 0.5em;
  text-align: center;
}
h4{
  color: #D1F3F0;
  background-color: #D01FDE;
  font-family: 'Lobster', cursive;
  font-size: 0.8em;
  text-align: center;
}
